<h1>Welcome to <%= @crm_app_name %>!</h1>
<h2>It is <%= @current_time %> right now.</h2>
<p>Main menu</p>
<ul>
    <li><a href="/contacts">View all contacts</a></li>
    <li><a href="/add_contacts">Add a contact</a></li>
</ul>