/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* Styling */
html {
    font-size: 16px;
}
body {

    background: url(/background_fotor.jpg) no-repeat center fixed ;
    font-family: 'Tenor Sans', sans-serif;
}


.header {

    padding-left:20px;
    padding-top:30px;
    border-bottom: 5px solid white;
    top: 0px;
    height: 80px;
    width:100%;
    background-color: rgba(61, 55, 51, .2);
    color: white;

}

.header > h1 {

    position:absolute;
    top: 2rem;
    font-size: 2rem;
    font-weight: bold;

}

.header > p {

    position:absolute;
    top: 4.5rem;
    font-size: 1.25rem;
    left: 1.5rem;

}

.header span {

    display: inline-block;
    min-height: 1rem;
    min-width: 1.5rem;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 2px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.home_button {

    position: absolute;
    right:5rem;
    top: 2rem;
    display: inline-block;
    background-color: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
    height: 2.5rem;
    width: 5rem;

}

.home_button a {

    color: white;
    text-decoration: none;

}

.home_button:hover {

    background-color: rgba(250,250,250,0.3);

}


.body {

    position:relative;
    box-sizing: border-box;
    min-height: 520px;
    width: 100%;

}

#actions {

    box-sizing: border-box;
    padding-top: 80px;
    width:100%;
}


.button {

    /*position: relative;
    top: 0px;*/
    padding-top: 4rem;
    float: left;
    border: 5px solid white;
    box-sizing:border-box;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    text-decoration: none;
    font-size: 3rem;

    border-color: rbga(61, 55, 51, .2);
    border-radius: 10%;

    margin-left: 5%;
    color: rbga(247,240,237,1);

    /*text-align: center;*/

}

#actions a {

    text-decoration:none;
    color:white;

}

.button:hover {

    background-color: rgba(64, 54, 53, 0.6);

}

.footer {


    float:left;
    border-top: 5px white solid;
    bottom: 0px;
    height: 50px;
    width:100%;
    background-color: rgba(61, 55, 51, .2);
    color: white;
    padding-top:10px;
    z-index:1;

}

/* ------------------------------------------- Page to add contact -------------- */

#add_form {

    position: fixed;
    top: 180px;
    width:600px;
    height:300px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: rgba(61, 55, 51, .9);
    margin-left: 25%;
    padding-top: 15px;
    padding-left: 20px;

}


#add_form h1 {

    color: white;
    font-size: 2.5rem;

}

#add_form table {

    top:25%;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    width:60%;
    height:50%;
    left: 20%;

}


#add_form input {

    width: 100%;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 1rem;
    color: rgba(61, 55, 51, 1);
    margin-left: 5%;

}


#add_form textarea {

    width: 100%;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 1rem;
    color: rgba(61, 55, 51, 1);
    margin-left: 5%;
}

#add_form #submit_button {

    position: absolute;
    bottom: 10%;
    width: 60%;
    height: 10%;
    left: 20%;
    color: white;
    border: none;
    font-size: 1rem;

}

#add_form #submit_button:hover {

    background-color: rgba(250,250,250,0.8);

}

/* --------------------------------- Page to view all contacts ---------------- */

#contacts {

    position: relative;
    margin-top: 0px;
    width:90%;
    min-height: 300px;
    margin-left: 5%;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    color: white;

}

#contacts .individual_contact {
    position: relative;
    padding-top: 1.5rem;
    float: left;
    border: 5px solid white;
    border-radius: 2rem;
    width: 20rem;
    height: 12rem;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-left: 1.8%;
    /*margin-bottom: 1.8%;*/
    background-color: rgba(61, 55, 51, .2);
    color: white;
    text-decoration: none;
    text-align: center;
    text-overflow: ellipsis;
}

#contacts .individual_contact:hover {

    background-color: rgba(64, 54, 53, 0.6);


}

#contacts #add_button {

    border:none;
    border: 5px solid;
    border-color: rgba(87, 100, 134, 0);
    background: url(/plus.png) center no-repeat;
    background-size: 60%;
}

#contacts #add_button:hover {


background-color: rgba(250,250,250,0.3);

}

#contacts > h1 {

    font-size: 2rem;
    margin-bottom: 3%;
}

#contacts .individual_contact h1 {  /* name in each car*/

    font-size: 2rem;

}

#contacts p {

    font-size: 1rem;

}

#contacts .contact_notes {

    width: 100%;
    font-size: 1rem;
    text-align: left;
    margin-left: 0.5rem;
    margin-right:0.5rem;
}

#contacts .created_modified p {

    width: 100%;
    position: absolute;
    bottom: 0.3rem;
    left: 0px;
    font-size: 0.8rem;
    font-style: italic;

}



/* Submit buttons formatting */

#contacts .modify {

    opacity: 0;
    display: inline-block;
    position: absolute;
    background: white;
    bottom: 1.5rem;
    left: 0rem;
    height: 1.75rem;
    width: 50%;
    background-color: rgba(250,250,250,0.3);

}

#contacts .individual_contact:hover .modify {

    opacity: 1;

}

#contacts .modify:hover {

    background-color: rgba(250,250,250,0.7);

}

#contacts .delete {

    opacity: 0;
    display: inline-block;
    position: absolute;
    background: white;
    bottom: 1.5rem;
    right: 0rem;
    height: 1.75rem;
    width: 50%;
    background-color: rgba(250,250,250,0.3);

}

#contacts .delete:hover {

    background-color: rgba(250,250,250,0.7);

}

#contacts .individual_contact:hover .delete {

    opacity: 1;

}

#contacts input[type="submit"] {

    border: none;
    background-color: rgba(250,250,250,0);
    color: white;
    font-size: 1rem;
}



/*------------------------------- Page to edit contact information ------- */



#modify_screen {

    position: fixed;
    top: 180px;
    width:600px;
    height:300px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: rgba(61, 55, 51, .9);
    margin-left: 25%;
    padding-top: 15px;
    padding-left: 20px;
    z-index: 1;
}

#modify_screen h1 {

    color: white;
    font-size: 2.5rem;

}

#modify_screen table {

    top:25%;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    width:60%;
    height:50%;
    left: 20%;

}

#modify_screen input {

    width: 100%;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 1rem;
    color: rgba(61, 55, 51, 1);

}

#modify_screen #submit_button {

    position: absolute;
    bottom: 10%;
    width: 60%;
    height: 10%;
    left: 20%;
    color: white;
    border: none;
    font-size: 1rem;

}

#modify_screen #submit_button:hover {

    background-color: rgba(250,250,250,0.8);

}

/*------------------------------- Search form  ------- */

#search_form {

    position: fixed;
    top: 180px;
    width:600px;
    height:300px;
    border: 5px solid white;
    border-radius: 30px;
    background-color: rgba(61, 55, 51, .9);
    margin-left: 25%;
    padding-top: 15px;
    padding-left: 20px;

}



#search_form h1 {

    color: white;
    font-size: 2.5rem;

}

#search_form table {

    top:25%;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    width:60%;
    height:50%;
    left: 20%;
    top: 35%;

}

#search_form input {

    width: 100%;
    height:30%;
    border-radius: 10px;
    border: 3px solid white;
    font-size: 1.5rem;


}

#search_form #submit_button {

    position: absolute;
    bottom: 10%;
    width: 60%;
    height: 10%;
    left: 20%;
    color: white;
    border: none;
    font-size: 1rem;

}

#search_form #submit_button:hover {

    background-color: rgba(250,250,250,0.8);

}
